<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">

       <h2>Edit your Listing</h2>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data"> 
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input name="listing[title]" required value="<%=listing.title%>" type="text" class="form-control">
        <div class="valid-feedback">Title Looks Good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" ><%=listing.description%></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
            Original Listing Image<br>
        <img src="<%=originalImageUrl%>" height="300px" />
        </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                <input type="file" name="listing[image]" class="form-control">
                </div>



       <div class="row mt-3">
        <div class="mb-3 col-md-3">
            <label for="price" class="form-label">Enter Price</label>
        <input name="listing[price]" class="form-control" required value="<%=listing.price%>" type="number">
        <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" required value="<%=listing.country%>" class="form-control">
            <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Enter Location</label>
        <input name="listing[location]" class="form-control" required value="<%=listing.location%>" type="text">
        <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    </div>
    </div>
    <script src="/js/script.js"></script>
    

